html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: -webkit-center;
}
canvas {
  display: block;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 700px;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 25px;
  background: #aaaaaa;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 25px;
  width: 25px;
  background-color: #f50;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}

/*=============
Aesthetics 
=========================*/

body {
  font-family: system-ui;
}

.wrapper {
  background: black;
  max-width: 50%;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  height: 4rem;
  width: 50%;
  background: black;
  padding: 0px 10px;
}

.value {
  font-size: 26px;    
  width: 50px;
  text-align: center;
  color: #ffffff;
}

.directionSlider {
  max-width: 50px;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox container */
.checkbox-container {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Style the PNG icon */
.checkbox-icon {
  background-image: url('gear.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Add smooth transition */
}

/* Flip the icon when checkbox is checked */
input[type="checkbox"]:checked + .checkbox-container .checkbox-icon {
  transform: scaleX(-1);
}